####################
# Visual Studio intermediate files
####################
.vs
Meshborn.vcxproj.user
src/x64

####################
# Mac specific
####################
.DS_Store

####################
# Automake intermediate files
####################
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure~
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
Makefile
Makefile.in
m4
src/.deps/
src/.libs/
src/wavefront/.deps/
src/wavefront/.dirstamp
*.o
*.lo
*.la